@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 13, 13);
}

.app {
  width: 90vw;
  margin: 0 auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  height: 80px;
  border-bottom: 1px solid #555;
}

#brand {
  font-family: "Niconne";
  text-transform: capitalize;
  color: rgba(238, 12, 80, 0.856);
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

input[type="file"] {
  display: none;
}

label {
  color: rgba(252, 252, 252, 0.712);
  height: 40px;
  width: 100px;
  background-color: rgba(238, 12, 80, 0.856);
  font-family: Poppins;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

label:hover {
  cursor: pointer;
}

.loader > h1 {
  color: rgba(252, 252, 252, 0.712);
  font-size: 1rem;
  text-align: center;
  font-family: Montserrat;
  letter-spacing: 1px;
}

.masonry-container {
  /* max-width: 100%; */
  margin: 5px auto;
}

.masonry-brick {
  display: block;
  margin: 5px auto;
  padding: auto 1.5rem;
}

.masonry-brick img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#toast-container {
  position: fixed !important;
  bottom: 0px !important;
  left: 0px !important;
}

/* MEDIA QUERIES */
@media screen and (min-width: 560px) {
  .app {
    width: 70vw;
    margin: 0 auto;
  }

  #brand {
    font-size: 2.5rem;
  }

  .masonry-container {
    max-width: 100%;
    margin: 5px auto;
  }

  .masonry-brick {
    display: inline-block;
    margin: 1%;
    width: 48%;
  }

  .masonry-brick img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 960px) {
  .masonry-brick {
    display: inline-block;
    /* padding: 0.1rem; */
    margin: 0.1rem 0.3rem;
    width: 32.33%;
    /* border: 1px solid yellow; */
  }

  .masonry-container {
    margin: 1rem auto 0;
  }
}
